html, body {
    background: #F7F7F7;
}

.wrap {
    position: relative;

}
.wrap::-webkit-scrollbar {
    display: none;
}
.search{
    position: fixed;
    top:0;
    width: 100%;
    padding: 12px 52px ;
    background: #F7F7F7;
    z-index: 100001;
}
.search input{
    width: 100%;
    height: 58px;
    line-height: 58px;
    font-size: 24px;
    border: none;
    border-radius: 28px;
    background-color: #ECECEC;
    padding-left: 40%;
}
.icon-icon--{
    position: absolute;
    top:30px;
    left:35%;
    height: 27px;
    width: 27px;
    color: #9E9E9E;
}
.city{
    padding-top: 80px;
}
.content .title{
    height: 84px;
    line-height: 84px;
    border-bottom: 2px solid #F1F1F1;
    font-size: 28px;
    padding: 0 32px;
}
.content li {
    background-color: #ffffff;
}
.mar{
    height: 28px;
    background-color: #F7F7F7;
}
.content .text{
    font-size: 28px;
    padding: 20px 0 20px 32px;
}
.entrance{
    position: fixed;
    top: 50%;
    right: 0px;
    padding: 0 30px;
    z-index: 1001;
    text-align: center;
    transform: translate(0,-50%);
    font-size: 24px;
}
.entrance li{
    padding-bottom: 10px;
    color: #007AFF;
}
.blue{
    color: #5492FF;
}
.search-content ul{
    background-color: #ffffff;
    padding-top: 80px;
}
.search-content ul li{
    font-size: 3.73333vw;
    padding: 2.66667vw 4.26667vw;
}
